@media screen and (min-width: 700px) {
    .container-main, .main {
        width:700px;
        display: flex;
    }

    .container-main {
        height: 600px;
    }

    .main {
        margin-left: 100px;
    }
    
    input {
        font-size: 23px;
        margin-top: 10px;
        width: 450px;
        height: 30px;
        margin-right: 100px;
    }

    label {
        font-size: 23px;
        font-weight: 600;
        margin-left: 10px;
        display: flex;
        flex-direction: column;

    }

    h1 {
        font-size: 42px;
    }

}